.odd {
   background-color: rgba(255, 167, 167, 255);
   font-family: 'Verdana', 'DejaVu Sans', 'sans-serif';
}

#second {
   color: blue;
   font-size: 36px;
}

.third, #fourth{
   font-size: 24px;
}

#fourth{
   background-color: lightgreen;
   font-weight: bold;
}
