* {
   font-size: 20px;
   box-sizing: border-box;
}


.flex-container {
   display: flex;
   flex-direction: column;
   width: 200px;
   height: 400px;
   flex-wrap: wrap;
}

.flex-container>div {
   width: 100px;
   max-width: 100px;
   min-height: 100px;
   background-color: red;
}

#one {
   flex: 0 1 auto;
   color: black;
}

#two {
   background-color: blue;
   flex: 1 1 300px;
}

#three {
   background-color: green;
}


#four {
   background-color: yellow;
}


#five {
   background-color: cyan;
}


#six {
   background-color: magenta;
}


#seven {
   background-color: black;
}
