@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
   box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header, .content, .footer{
   display: flex;
   width: 100%;
}

.header, .footer{
   padding: 15px;
}

.header{
   margin-bottom: 20px;
   flex: 0 1 auto;
}

.footer{
   background-color: #eeeeee;
}

ul{
   list-style: none;
   display: flex;
   align-items: center;
   padding: 0;
   margin: 0;
   gap: 15px;
   justify-content: center;
}

.left-links, .right-links{
   flex: 0 1 auto;
}
.left-links{
   margin-right: auto;
}

a {
   color: grey;
   text-decoration: none;
}

.content{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex:1 1 auto;
   gap: 15px;
}

.buttons{
   display: flex;
   flex: 0 1 auto;
   gap: 40px;
}
button{
   font-weight: bold;
   padding: 10px 8px;

}





